* {
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    border: 5px solid black;
    padding: 10px;
    margin: 0px;
}

body {
    background-image: url(../imagenes/fondo.jpg);
    color: black;
    margin: 10px;
    font-size: 15px;

}

form {
    margin: 0px;
    padding: 10px;
    color: black;
    font-weight: bold;
    border: 4px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: black;
    margin: 10px;
    color: white;
    padding: 10px;
}

footer ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

footer p {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    font-size: 10px;
}

ul {
    list-style: none;
}

.destacadoIndex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

/* QUIENES SOMOS */
.destacadoQuienesSomos {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-column-gap: 55px;
}

.titulosQuienesSomos {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.botonIndex {
    display: block;
    margin-top: 5px;
}

.barraNavegacion {
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.barraNavegacion>* {
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: rgb(118, 221, 118);
}

.imagenCabezera {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* CONTACTO */

.contenedor-formContacto {
    color: white;
    background-color: black;
    margin: 10px;
    padding: 10px;
}

.contenedor-formContacto h4 {
    display: flex;
    justify-content: center;
}

.formulario-contacto {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.botonContacto {
    display: grid;
    grid-column: 1/3;
    color: white;
    border: 0;
    padding: 1rem;
}

.formulario-contacto p button {
    background-color: rgb(118, 221, 118);
    text-transform: uppercase;
    font-weight: bold;
}

.formulario-contacto p {
    margin: 2px;
    padding: 5px;
}

.formulario-contacto button,
.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: .7rem;
    border: none;
    background-color: black;
    outline: none;
    border-bottom: 1px solid rgb(118, 221, 118);
    color: white;
}

/*MEDIA QUERIES*/

@media only screen and (max-width:768px) {
    
}

@media only screen and (max-width:576px) {

    header {
        flex-direction: column;
    }

    header nav ul li {
        font-size: 15px;
        width: auto;
    }

    header nav {
        height: 10%;
        width: 100%;
    }

    .imagenCabezera img {
        height: 60px;
    }

    .destacadoIndex{
        display: grid;
        grid-template-columns: 1; 
        grid-template-rows: repeat(3,1fr);
        
    }

    .destacadoIndex article{
        justify-content: center;
    }

    .destacadoQuienesSomos{
        grid-template-columns: repeat(1, 1fr);
    }

}