* {
  margin: 0%;
  padding: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

//VARIABLES
$estilosGenerales: (
  colorB: white,
  centro: center,
  1rem: 1rem
);

$colorFondo: radial-gradient(circle farthest-corner at 10% 20%, #0eae57 0%, #0c7475 90%);
$colorFonts: black;
$medidaEstandar: 10px;
//EXTENSIONES 

.medidasPrueba50{
  height: 50px;
  width: 50px;
}
//MIXINS

@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

header nav div img {
  @extend .medidasPrueba50
}

nav {
  @if ($colorFondo ==yellow) {
    background-image: yellow;
  }

  @else {
    background-image: $colorFondo;
  }

  color: black;
}

.navbar-light {

  .navbar-nav {

    .nav-link {

      color: $colorFonts;
    }

  }

}

.navbar-expand-lg {

  .navbar-collapse {
    flex-grow: initial;
  }

}

.imagenCabezera {
  display: flex;
  justify-content: map-get($map: $estilosGenerales, $key: centro);
  flex-wrap: wrap;
  padding: $medidaEstandar * 2;
  font-size: 30px;
  text-align: map-get($map: $estilosGenerales, $key: centro);
}

body {
  background-image: $colorFondo;
  color: black;
  margin: $medidaEstandar;
  font-size: 15px;
}

form {
  margin: 0px;
  padding: $medidaEstandar;
  color: $colorFonts;
  font-weight: bold;
  border: 4px solid $colorFonts;
  margin-top: $medidaEstandar * 2;
  margin-bottom: $medidaEstandar * 2;
}

ul {
  list-style: none;
}

footer {
  margin: $medidaEstandar;
  color: map-get($map: $estilosGenerales, $key: colorB);
  padding: $medidaEstandar;
  background-color: $colorFonts;
}

footer {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}

footer p {
  display: flex;
  justify-content: end;
  margin-top: $medidaEstandar;
  font-size: $medidaEstandar;
}

i {
  font-size: 2rem;
  color: #0d8c68;
}

/*INDEX*/
.destacadoIndex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.botonIndex {
  display: block;
  margin-top: 5px;
  transition: all 1s;
}

.botonIndex:hover {
  background-color: grey;
}

.imagenIndex {
  transition: all 1s;
}

.imagenIndex:hover {
  height: 110px;
  width: 110px;
}

/*ADULTOS*/
.imagenAdultos {
  transition: all 1s;
}

.imagenAdultos:hover {
  width: 160px;
  height: 160px;
}

/*INFANTIL*/
.imagenInfantil {
  transition: all 1s;
}

.imagenInfantil:hover {
  @include sizes(180px, 180px)
}

/* QUIENES SOMOS */
.destacadoQuienesSomos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-column-gap: 55px;
}

.titulosQuienesSomos {
  font-size: $medidaEstandar * 3;
  display: flex;
  justify-content: center;
  text-align: center;
} 

/* CONTACTO */
.contenedor-formContacto {
  color: map-get($map: $estilosGenerales, $key: colorB);
  background-color: $colorFonts;
  margin: $medidaEstandar;
  padding: $medidaEstandar;
}

.contenedor-formContacto h4 {
  display: flex;
  justify-content: center;
}

.formulario-contacto {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.botonContacto {
  display: grid;
  grid-column: 1/3;
  color: white;
  border: 0;
  padding: map-get($map: $estilosGenerales, $key: 1rem);
}

.formulario-contacto p button {
  background-color: rgb(118, 221, 118);
  text-transform: uppercase;
  font-weight: bold;
}

.formulario-contacto p {
  margin: 2px;
  padding: $medidaEstandar / 2;
}

.formulario-contacto button,
.formulario-contacto input,
.formulario-contacto textarea {
  width: 100%;
  padding: 0.7rem;
  border: none;
  background-color: $colorFonts;
  outline: none;
  border-bottom: 1px solid rgb(118, 221, 118);
  color: white;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 576px) {
  header {
    flex-direction: column;
  }

  header nav ul li {
    font-size: 15px;
    width: auto;
  }

  header nav {
    height: 10%;
    width: 100%;
  }

  .imagenCabezera img {
    height: 60px;
  }

  .destacadoIndex {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(3, 1fr);
  }

  .destacadoIndex article {
    justify-content: center;
  }

  .destacadoQuienesSomos {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*# sourceMappingURL=estilos.css.map */